{% extends 'base.html' %}

{% block title %}Recipe List{% endblock %}

{% block content %}
  <div class="button-group">
    <a href="{% url 'recipes:create' %}" class="btn btn-link">Add New recipe</a>
    <a href="{% url 'recipes:tag_create' %}" class="btn btn-link">Add New tag</a>
  </div>
<ol class="list-group list-group-numbered">
    {% for recipe in recipes %}
  <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto">
      <div class="fw-bold">
        <a href="{% url 'recipes:detail' recipe.slug %}">{{ recipe.title }}</a>
      </div>
        {{ recipe.author }}
    </div>
    <span class="badge bg-primary rounded-pill">{{ recipe.recipeingredient_set.count }}</span>
  </li>
  {% endfor %}
</ol>

{% endblock %}