/*.article_list li {
    padding: 7px 0;
}
body {
    background-color: powderblue !important;
}
.nav_link li {
    display: inline-block;
    margin-left: 15px;
}
.nav_link .logo img {
    width: 120px;
}
form button, form input[type=submit], .btn{
    padding: 7px 30px;
    font-family: Arial;
    color: #fff;
    border: 0;
    border-radius: 10px;
    font-size: 18px;
    font-weight: bolder;
    cursor: pointer;
    background-color: darkslateblue;
}
form button:hover, form input[type=submit]:hover, .btn:hover{
    background-color: cornflowerblue;
    transition: .5 s;
}

.Search {
    padding: 10px 5px;
    width: 250px;
    border: 0;
    font-size: 16px;
    border-radius:15px;
}
.Search:focus {
    padding-left: 10px;
    transition: 0.3s;
}
.profile {
    float: right;
    margin-top: 20px;
}
.form-control{
    margin-top: 10px;
}*/